/Debug
/Debug_OSX
/Release
/Release_OSX
/LOG
/strategy_nice.txt
/strategy_parameters.txt
/system_parameters.txt
/Debug_so/src
/Debug_so/makefile
/Debug_so/*.mk
/Debug_so/INDICATORS
/Debug_so/strategy_nice.txt
/Debug_so/strategy_parameters.txt
/Debug_so/system_parameters.txt
/Release_so/src
/Release_so/*.mk
/Release_so/INDICATORS
/Release_so/makefile
/Release_so/strategy_nice.txt
/Release_so/strategy_parameters.txt
/Release_so/system_parameters.txt